<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">
</head>
<body>
<div class="header">
    <div class="logo">
        <a href="/" class="homelink">Carbon Calculator</a>
    </div>
    <div class="links">
        <a href="about">About Us</a>
    </div>
</div>
<h3>This webpage was made for the SwampHacks X Hackathon!</h3>
We developed this website to help track people's carbon emissions. Travel can often be detrimental to the environment, so we developed a calculator to help people see just how much impact their trips can have. For more information on how the calculator works, here is the markdown:
</body>
</html>