<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            CarbonCalculator
        </div>
        <div class="links">
            <a href="about.html">About Us</a>
        </div>
    </div>
    <form>
        <label for="curloc">Current Location:</label><br>
        <input type="text" id="curloc" name="curloc"><br>
        <label for="desloc">Destination:</label><br>
        <input type="text" id="desloc" name="desloc">
    </form>
</body>
</html>