<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='form-handler.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="" class="homelink">Carbon Calculator</a>
        </div>
        <div class="links">
            <a href="about">About Us</a>
        </div>
    </div>
    <form>
        <label for="curloc">Departing Airport:</label><br>
        <input type="text" id="curloc" name="curloc"><br>
        <label for="desloc">Destination Airport:</label><br>
        <input type="text" id="desloc" name="desloc"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>